
h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-underline-offset: 11px;
    padding-top: 10px;
}
.one{
    text-align: center;
    position: relative;
    bottom: 25px;
    color: rgb(123, 113, 67);
}
figcaption{
    font-size: medium;
    text-align: center;
    color: rgb(27, 118, 103);
    padding-top: 10px;
}
img
{
 display: block;
 margin: auto;
 border-radius: 1%;
 width: 76%;
 border: 1px solid black;
}
.fig{
    padding-top: 60px;
    padding-bottom: 40px;
    
    display: block;
    background-color:  rgba(255, 255, 179, 0.849);;
}
body{
    background-color: rgb(255, 245, 233);
}
.time{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

.listalign{
    text-align:left;
    font-size: 20px;
    margin-bottom: 70px;
    color: rgb(123, 113, 67);
}
li{
    margin-bottom: 13px;
    text-align: justify;
}
.qote{
   
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    margin-bottom: 20px ;
    color: rgb(123, 113, 67);
   
    
    
}
footer
{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 179, 0.849);
    color: rgb(123, 113, 67);
}
a{
    color: blueviolet;
    text-decoration: none;

}
span{
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-underline-offset: -35px;
}
.two{
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}